.portal-container {
    max-width: 1400px;
    padding: 80px 20px;
    margin: 0 auto;
    text-align: center;
    align-items: start;
    justify-content: center;
    display: flex;
    gap: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portal-menu {
    font-size: 1.125rem;
    line-height: 1.3;
    display: flex;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: 1s;
}

.portal-menu summary {
    transition: 1s ease;
    background: rgb(24, 71, 138);
    padding: 20px;
    color: #ffffff;
    cursor: pointer;
}

.portal-menu[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portal-menu a {
    width: 100%;
    padding: 15px 0px;
    color: #333;
    display: block;
    border-top: 1px solid #ddd;
}

.portal-menu a:hover {
    background: #f0f0f0;
}

@media (max-width: 1200px) {
    .portal-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .portal-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 30px 80px;
    }
}

@media (max-width: 400px) {
    .portal-menu {
        font-size: .875rem;
        line-height: 1.1;
    }
    .portal-menu summary {
        padding: 20px;
    }
}

@media screen and ( max-height: 780px ){
    .portal-container {
        max-width: 1200px;
        padding: 30px 20px;
    }
}